/* Estilos del Calendario*/
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}



.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

/* Estilos Generales */

/* App.css */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.calendar-container {
  flex: 1;
  min-width: 62%;
  
}

.event-container {
  flex: 1;
  text-align: center;
  
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .calendar-container,
  .event-container {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
  }
}

.react-calendar {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.2s;
  
}

.react-calendar span, .react-calendar abbr{
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 100;
}
.react-calendar__navigation__label__labelText{
  font-size: xx-large;
}

.react-calendar--doubleView {
  width: 100%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 3rem;
  padding-top: 2rem;
  
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: xx-large;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}


.react-calendar__navigation button:enabled {
  transition: transform 0.3s ease-in-out; 
}

.react-calendar__navigation button:enabled:hover {
  transform: scale(1.5); 
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  padding: 1rem;
  font-weight: lighter;
  text-decoration: none;
  color: #007bff;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: xx-large;
  font-weight: bold;
  padding: 2rem 1rem;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  
}

.react-calendar__month-view__days__day--weekend {
  color: #b61a1aa8;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 2rem;
  background: none;
  text-align: center;
  font-size: x-large;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled {
  transition: transform 0.3s ease-in-out; /* Aplica la transición solo a la transformación */
}

.react-calendar__tile:enabled:hover {
  transform: scale(1.8); /* Escala el tile al hacer hover */
}

.react-calendar__tile--hasActive {
  color: #ff267f
}



.event-form {
  margin-bottom: 20px;
}

.event-form input {
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  
}

.create-btn {
  padding: 8px 16px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-btn:hover {
  background-color: #ac0b4e;
}

.event-list {
  margin-top: 20px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  width: 300px;
  background-color: transparent;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(235, 231, 231, 0.1);
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.event-actions {
  display: flex;
}

/* Estilo para los días que tienen eventos */
.event-marked abbr {
  background-color: #00c853;
  color: white;
  border-radius: 50%;
  border: 2px solid #004d40;
  padding: 0.5rem;
}

/* Estilo adicional cuando se selecciona un día */
.selected abbr{
  background-color: transparent;
  color: white;
  border-radius: 50%;
  border: 2px solid #ac0b4e;
  padding: 0.5rem;
}

.event-marked-0 abbr{ /* Domingo */
  background-color: #22e4bd;
  color: white;
  border-radius: 50%;
  border: 2px solid #099795;
  padding: 0.5rem;
}

.event-marked-1 abbr{ /* Lunes */
  background-color: #25b0eb;
  color: white;
  border-radius: 50%;
  border: 2px solid #0f5c9f;
  padding: 0.5rem;
}

.event-marked-2 abbr{ /* Martes */
  background-color: #00c853;
  color: white;
  border-radius: 50%;
  border: 2px solid #004d40;
  padding: 0.5rem;
}

.event-marked-3 abbr{ /* Miércoles */
  background-color: #f47954;
  color: white;
  border-radius: 50%;
  border: 2px solid #83260a;
  padding: 0.5rem;
}

.event-marked-4 abbr{ /* Jueves */
  background-color: #9877d6;
  color: white;
  border-radius: 50%;
  border: 2px solid #4527a0;
  padding: 0.5rem;
}

.event-marked-5 abbr{ /* Viernes */
  background-color: #f75188;
  color: white;
  border-radius: 50%;
  border: 2px solid #ad1457;
  padding: 0.5rem;
}

.event-marked-6 abbr{ /* Sábado */
  background-color: #c2b8b8;
  color: white;
  border-radius: 50%;
  border: 2px solid #545453;
  padding: 0.5rem;
}

/* Estilos para los días de la semana en el encabezado */
.react-calendar__month-view__weekdays__weekday:nth-child(1) {
  color: #25b0eb; /* Lunes */
}
.react-calendar__month-view__weekdays__weekday:nth-child(2) {
  color: #00c853; /* Martes */
}
.react-calendar__month-view__weekdays__weekday:nth-child(3) {
  color: #f47954; /* Miércoles */
}
.react-calendar__month-view__weekdays__weekday:nth-child(4) {
  color: #9877d6; /* Jueves */
}
.react-calendar__month-view__weekdays__weekday:nth-child(5) {
  color: #f75188; /* Viernes */
}
.react-calendar__month-view__weekdays__weekday:nth-child(6) {
  color: #c2b8b8; /* Sábado */
}
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  color: #22e4bd; /* Domingo */
}
